// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  background: $darkest;
}

section {
  padding: 50px 0;
}

.container {
  width: 70vw;
  margin: 0 auto;

  @media (max-width: $breakpoint-sm) {
    width: 95vw;
  }
}

.bg-darkest {
  background: $darkest;
}

.bg-light {
  background: $light;
}

.bg-lightest {
  background: $lightest;
}

.text-gradient {
  background: -webkit-radial-gradient(#BEBEC6, #121212);
  background: -moz-radial-gradient(#BEBEC6, #121212);
  background: radial-gradient(#BEBEC6, #121212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-darkest {
  color: $darkest;
}

.text-light {
  color: $light;
}

.text-lightest {
  color: $lightest;
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5 {
  font-weight: bold;
}

.text-h1 {
  font-size: 52px;
  line-height: 52px * 1.5;
}

.text-h2 {
  font-size: 34px;
  line-height: 34px * 1.5;
}

.text-h3 {
  font-size: 22px;
  line-height: 22px * 1.5;
}

.text-h4 {
  font-size: 20px;
  line-height: 20px * 1.5;
}

.text-h5 {
  font-size: 16px;
  line-height: 16px * 1.5;
}
